#cursor {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    left: 0;
    top: 0;
    background-color: var(--color-primary);
    transform: translate(-50%, -50%) scale(0); /* Start hidden */
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: 1001;
}

.inner-cursor {
    position: absolute;
    z-index: 1000;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
    transition: opacity 0.5s ease-out;
}

/* Show both cursor and inner cursor */
#cursor.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#cursor.show .inner-cursor {
    opacity: 0.2;
    transform: translate3d(0, 0, 0) scale(1);
}

/* Hide both cursor and inner cursor */
#cursor.hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

#cursor.hide .inner-cursor {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
}
  