@import "./cursor.css";
@import "./utils.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: #32302f;
    --color-light: #ebdbb2;
    --color-primary: #fe8019;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-dark);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: none;
    overflow: hidden;
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-around;
    cursor: none;
    padding: 1rem;
    border-radius: 0.5rem;
}