@import "./cursor.css";
@import "./utils.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: none;
    overflow: hidden;
}

nav {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-around;
    cursor: none;
    overflow: hidden;
}